{% comment %}
    We can come back to this later, to revised how the sub box can be added into the article
    {%- if section.settings.show_sub -%}
      {% assign margin_top = '2' %}
      {% assign margin_bottom = '0' %}
      {% assign margin_left_right = '1.5' %}

      {% assign paragraphs = article.content | split: '</p>' %}
      {% assign num_paragraphs = article.content | split: '</p>' | size | minus: 1 %}
      {% assign half_paragraphs = num_paragraphs | divided_by: 2 | ceil %}

      {% for paragraph in paragraphs %}
        {{ paragraph | append: '</p>' }}
        {% if forloop.index == half_paragraphs %}
          {% render 'subsribe-news', with margin_top: margin_top, margin_bottom: margin_bottom, margin_left_right: margin_left_right' %}
        {% endif %}
      {% endfor %}
    {%- else -%}
      {{ article.content }}
    {%- endif -%}

  {%- if section.settings.show_sub -%}
    {% assign margin_top = '2' %}
    {% assign margin_bottom = '0' %}
    {% assign margin_left_right = '1.5' %}
    {% render 'subsribe-news', with margin_top: margin_top, margin_bottom: margin_bottom, margin_left_right: margin_left_right' %}
  {%- endif -%}
{% endcomment %}

{%- assign paragraphs = article.content | split: '</p>' -%}
{%- assign num_paragraphs = paragraphs | size | minus: 1 -%}

{%- for paragraph in paragraphs -%}
  {{ paragraph | append: '</p>' }}
  {%- if forloop.index == 6 -%}
    <a href="https://tinyurl.com/midarticlebanner" target="_blank" style="display:block; margin: 2em 0;">
      <img src="https://cdn.shopify.com/s/files/1/0353/9510/9003/files/Mid-Article_Banner.png?v=1752776437" alt="Banner" style="width:100%; height:auto;"/>
    </a>
  {%- endif -%}
{%- endfor -%}

{{ article.content }}

{% schema %}
{
  "name": {
    "da": "Opslag",
    "de": "Posts",
    "en": "Posts",
    "es": "Publicaciones",
    "fi": "Julkaisut",
    "fr": "Articles",
    "hi": "पोस्ट",
    "it": "Articoli",
    "ja": "投稿",
    "ko": "게시물",
    "nb": "Innlegg",
    "nl": "Berichten",
    "pt-BR": "Posts",
    "pt-PT": "Publicações",
    "sv": "Inlägg",
    "th": "โพสต์",
    "zh-CN": "文章",
    "zh-TW": "貼文"
  },
  "class": "rte",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
