<!-- Google display ad -->
<ins class="adsbygoogle"
     style="display:block; text-align: center;"
     data-ad-client="ca-pub-6273752259116373"
     data-ad-slot="8401306957"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<!-- amazon banner section for advertisement 
<section class="container">
  <h1>Filling a bookshelf? We picked these for you.</h1>
  <iframe
    sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin"
    style="width:140px;height:200px;"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    frameborder="0"
    src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=88bamboo-20&language=en_US&marketplace=amazon&region=US&placement=1845339428&asins=1845339428&linkId=10dcdfc1dda2e4d4f6aa4615600ab0a0&show_border=false&link_opens_in_new_window=true"
  ></iframe>
  <iframe
    sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin"
    style="width:140px;height:200px;"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    frameborder="0"
    src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=88bamboo-20&language=en_US&marketplace=amazon&region=US&placement=1607747324&asins=1607747324&linkId=b35b399b4707e77a7e4897f675d44f1e&show_border=false&link_opens_in_new_window=true"
  ></iframe>
  <iframe
    sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin"
    style="width:140px;height:200px;"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    frameborder="0"
    src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=88bamboo-20&language=en_US&marketplace=amazon&region=US&placement=0525575022&asins=0525575022&linkId=5a4db72e78f099b8eb17d004be8fbec0&show_border=false&link_opens_in_new_window=true"
  ></iframe>
  <iframe
    sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin"
    style="width:140px;height:200px;"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    frameborder="0"
    src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=88bamboo-20&language=en_US&marketplace=amazon&region=US&placement=1784723983&asins=1784723983&linkId=f5d6191210f081577f192f1f1199d68d&show_border=false&link_opens_in_new_window=true"
  ></iframe>
  <iframe
    sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin"
    style="width:140px;height:200px;"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    frameborder="0"
    src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=88bamboo-20&language=en_US&marketplace=amazon&region=US&placement=1616200464&asins=1616200464&linkId=7e8178ccde6b90349659dc09069f71cc&show_border=false&link_opens_in_new_window=true"
  ></iframe>
  <div class="ad-title">ADVERTISEMENT</div>
  <div id="amzn-assoc-ad-18ffbb77-3089-4227-bdcb-81f8dbbfe006"></div>
</section>
-->
<!-- amazon advertisement injection related script -->
<script type="text/javascript">
  amzn_assoc_placement = "adunit0";
  amzn_assoc_search_bar = "false";
  amzn_assoc_tracking_id = "88bamboo-20";
  amzn_assoc_ad_mode = "manual";
  amzn_assoc_ad_type = "smart";
  amzn_assoc_marketplace = "amazon";
  amzn_assoc_region = "US";
  amzn_assoc_title = "Filling a bookshelf? We picked these for you";
  amzn_assoc_linkid = "e4448e28b18f9ec23e46d2ea13bf8899";
  amzn_assoc_asins = "1845339428,1607747324,0525575022,0735221251,1784723983";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>

{% schema %}
{
  "name": "Bottom Ad area",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
