{% comment %}
  The contents of the blog.liquid template can be found in /sections/blog-template.liquid
{% endcomment %}
{% section 'hero5' %}
<div class="shrinkage-to-make-way-for-side-bars"><!--zhe han added shrinkage class-->
{% section 'blog-template' %}
</div>