<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">

{% section 'feature-row2' %}
{% section 'feature-row3' %}

<hr style="height:2px;border:none;color:#333;background-color:#333;" />
<h1><em>Team</em></h1>

{% section 'feature-row4' %}
{% section 'feature-row5' %}
{% section 'feature-row6' %}
{% section 'feature-row7' %}

<hr style="height:2px;border:none;color:#333;background-color:#333;" />
<h1><em>Contributors</em></h1>

{% section 'feature-row8' %}
{% section 'feature-row9' %}
{% section 'feature-row10' %}
      
      
    </div>
  </div>
</div>      