<div class="page-width">
  <h1>Oops! You weren't supposed to see this page! </h1>
  <p>Use the navigational bar and go to a section more worth your time &#128521</p>
</div>
<!-- <div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1></h1>
      </div>

      <div class="rte">
        
      </div>
    </div>
  </div>
</div> -->

{% section 'featured-blog2' %} <!--news-->
{% section 'featured-blog3' %} <!--whisky reviews-->
{% section 'featured-blog4' %} <!--escapades-->
{% section 'featured-blog5' %} <!--features-->
{% section 'featured-blog6' %} <!--whiskydex-->
{% section 'featured-blog7' %} <!--rum reviews-->
{% section 'featured-blog8' %} 
{% section 'featured-blog9' %} <!--rhythm and booze -->
{% section 'featured-blog10' %} <!--meet the people-->
{% section 'featured-blog11' %} <!--sake reviews-->
{% section 'featured-blog12' %} <!--craft beer reviews-->
{% section 'featured-blog13' %} <!--everything nice reviews-->
{% section 'featured-blog14' %} <!--bottoms up-->
{% section 'featured-blog15' %} <!--Japanese Whisky Dictionary-->
{% section 'featured-blog16' %} <!--Sku's Drinks-->
{% section 'featured-blog17' %} 
{% section 'featured-blog18' %} <!--Vintage Prints-->
{% section 'featured-blog19' %} <!--gin reviews-->








