{% section 'hero40' %}
 <div class="page-width">
<!-- ZHE HAN removed  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        
      </div> -->

      <div class="rte">
        {{ page.content }}
      </div>
<!-- Zhe Han removed    </div>
  </div> -->
</div> 
<div class="shrinkage-to-make-way-for-side-bars"><!--zhe han added shrinkage class-->{% section 'feature-columns12' %}</div>
