
{%comment%}{% section 'hero2' %}{% endcomment %}

{% section 'slideshow-shop' %}

<div style='padding-top:50px; background-color: mintcream;'> {% section 'feature-columns8' %}</div> <!-- zhe han removed class='shrinkage-to-make-way-for-side-bars'-->
<div style='padding-top:50px;'> {% section 'logo-bar3' %}</div> <!-- zhe han removed class='shrinkage-to-make-way-for-side-bars'-->
{% comment %} {% section 'feature-columns7' %}{% endcomment %} 
{%comment%}<div > <div class="page-width"> <!-- zhe han removed class='shrinkage-to-make-way-for-side-bars'-->
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div> </div>{% endcomment %}
<div style='padding-top:50px;'> {% section 'collection' %} </div> <!-- zhe han removed class='shrinkage-to-make-way-for-side-bars'-->
<div  style='padding-top:50px;'> {% section 'collection2' %} </div> <!-- zhe han removed class='shrinkage-to-make-way-for-side-bars'-->
<div style='padding-top:50px;'> {% section 'collection5' %} </div> <!-- zhe han removed class='shrinkage-to-make-way-for-side-bars'-->
<div  style='padding-top:50px;'>  {% section 'collection6' %} </div> <!-- zhe han removed class='shrinkage-to-make-way-for-side-bars'-->
<div  style='padding-top:50px;'>  {% section 'collection7' %} </div> <!-- zhe han removed class='shrinkage-to-make-way-for-side-bars'-->
<div  style='padding-top:50px;'>  {% section 'collection8' %} </div> <!-- zhe han removed class='shrinkage-to-make-way-for-side-bars'-->
<div style='padding-top:50px;'>  {% section 'collection9' %} </div> <!-- zhe han removed class='shrinkage-to-make-way-for-side-bars'-->
<div  style='padding-top:50px;'> {% comment %} {% section 'feature-columns' %} {% endcomment %} </div> <!-- zhe han removed class='shrinkage-to-make-way-for-side-bars'-->
<div  style='padding-top:50px;'> {% section 'collection3' %}</div> <!-- zhe han removed class='shrinkage-to-make-way-for-side-bars'-->
<div  style='padding-top:50px;'>  {% section 'collection4' %} </div> <!-- zhe han removed class='shrinkage-to-make-way-for-side-bars'-->
<div  style='padding-top:50px;'>  {% section 'collection10' %} </div> <!-- zhe han removed class='shrinkage-to-make-way-for-side-bars'-->
<div  style='padding-top:50px;'>  {% section 'feature-row11' %} </div> <!-- zhe han removed class='shrinkage-to-make-way-for-side-bars'-->