{% section 'hero11' %}
 <div class="page-width">
<!-- ZHE HAN removed  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        
      </div> -->
<div ><!--zhe han removed class="shrinkage-to-make-way-for-side-bars" -->
      <div class="rte">
        {{ page.content }}
      </div>
</div>  
<!-- Zhe Han removed    </div>
  </div> -->
</div> 

<br>

<div ><!--zhe han removed class="shrinkage-to-make-way-for-side-bars" --> {% section 'logo-bar2' %} </div>

<div style="padding-top:30px;" ><!--zhe han removed shrinkage class-->{% section 'feature-columns3' %} </div>






