<div class="page-width">
  <div class="grid shrinkage-to-make-way-for-side-bars"> <!--zhe han added shrinkage class-->
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
<div class="shrinkage-to-make-way-for-side-bars"><!--zhe han added shrinkage class-->
{% section 'feature-columns4' %}
</div>  