{% section 'hero56-bardirectory' %}
<div class="page-width">
<!--zhe han 
  <div class="grid  shrinkage-to-make-way-for-side-bars">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth"> 
      <div class="section-header text-center">
        <h2>{{ page.title }}</h2>
      </div>

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
  -->

<!-- <h3>Welcome to the Bar Directory! A collection of our personal favourite cocktail and specialty spirits bars from around the region! We're passionate about discovering hidden gems, and we've put together this directory to share these unique drinking experiences with you. From quaint speakeasies to swanky rooftop lounges, each bar in our list has earned a special place in our hearts for its distinctive atmosphere, skillfully crafted drinks, and warm, welcoming service. Please explore these libational establishments and make the most unforgettable memories, one great city at a time!</h3>-->
<ul class="alphabetical-nav__list" >
<p style="text-align:center; font-size:1em; margin-bottom: 0.5em"><strong>Jump to section </strong> <strong><span style="font-size:0.6em;">&#11015;</span></strong></p>  
<li class="alphabetical-nav__item">
<a href="#A" rel="nocaes" class="alphabetical-nav__item-text--linked"> Singapore </a>
</li>
<li class="alphabetical-nav__item">
<a href="#B" rel="nocaes" class="alphabetical-nav__item-text--linked"> Hong Kong </a>
</li>
<li class="alphabetical-nav__item">
<a href="#C" rel="nocaes" class="alphabetical-nav__item-text--linked"> Japan </a>
</li>
<li class="alphabetical-nav__item">
<a href="#D" rel="nocaes" class="alphabetical-nav__item-text--linked"> Indonesia </a>
</li>
<li class="alphabetical-nav__item">
<a href="#E" rel="nocaes" class="alphabetical-nav__item-text--linked"> Philippines </a>
</li>
<li class="alphabetical-nav__item">
<a href="#F" rel="nocaes" class="alphabetical-nav__item-text--linked"> Korea </a>
</li>
<!--<li class="alphabetical-nav__item">
<a href="#G" rel="nocaes" class="alphabetical-nav__item-text--linked">Australia</a>
</li> -->
<li class="alphabetical-nav__item">
<a href="#H" rel="nocaes" class="alphabetical-nav__item-text--linked"> Thailand </a>
</li>
<li class="alphabetical-nav__item">
<a href="#I" rel="nocaes" class="alphabetical-nav__item-text--linked"> Malaysia </a>
</li>
<li class="alphabetical-nav__item">
<a href="#J" rel="nocaes" class="alphabetical-nav__item-text--linked"> Vietnam </a>
</li>
<li class="alphabetical-nav__item">
<a href="#K" rel="nocaes" class="alphabetical-nav__item-text--linked"> Taiwan </a>
</li>

  <!--
<li class="alphabetical-nav__item">
<a href="#L" rel="nocaes" class="alphabetical-nav__item-text--linked">L</a>
</li>
<li class="alphabetical-nav__item">
<a href="#M" rel="nocaes" class="alphabetical-nav__item-text--linked">M</a>
</li>
<li class="alphabetical-nav__item">
<a href="#N" rel="nocaes" class="alphabetical-nav__item-text--linked">N</a>
</li>
<li class="alphabetical-nav__item">
<a href="#O" rel="nocaes" class="alphabetical-nav__item-text--linked">O</a>
</li>
<li class="alphabetical-nav__item">
<a href="#P" rel="nocaes" class="alphabetical-nav__item-text--linked">P</a>
</li>
<li class="alphabetical-nav__item">
<a href="#Q" rel="nocaes" class="alphabetical-nav__item-text--linked">Q</a>
</li>
<li class="alphabetical-nav__item">
<a href="#R" rel="nocaes" class="alphabetical-nav__item-text--linked">R</a>
</li>
<li class="alphabetical-nav__item">
<a href="#S" rel="nocaes" class="alphabetical-nav__item-text--linked">S</a>
</li>
<li class="alphabetical-nav__item">
<a href="#T" rel="nocaes" class="alphabetical-nav__item-text--linked">T</a>
</li>
<li class="alphabetical-nav__item">
<a href="#U" rel="nocaes" class="alphabetical-nav__item-text--linked">U</a>
</li>
<li class="alphabetical-nav__item">
<a href="#V" rel="nocaes" class="alphabetical-nav__item-text--linked">V</a>
</li>
<li class="alphabetical-nav__item">
<a href="#W" rel="nocaes" class="alphabetical-nav__item-text--linked">W</a>
</li>
<li class="alphabetical-nav__item">
<a href="#X" rel="nocaes" class="alphabetical-nav__item-text--linked">X</a>
</li>
<li class="alphabetical-nav__item">
<span class="alphabetical-nav__item-text--unlinked">Y</span>
</li>
<li class="alphabetical-nav__item">
<a href="#Z" rel="nocaes" class="alphabetical-nav__item-text--linked">Z</a>
</li>
  -->
</ul>

<br>
  
<ul class="alphabetical-list__list">
<li class="alphabetical-list__item">
<a id="A" class="alphabetical-list__jump-anchor"></a>  
<span class="alphabetical-list__heading">Singapore</span>
<div class="indent-bar-list">  
<h2><u>Specialty Spirits Bars</u></h2>  
<ul class="alphabetical-list__sublist"  >

<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://www.google.com/maps/place/The+Auld+Alliance/@1.298614,103.849054,15z/data=!4m6!3m5!1s0x31da19a460f2fb37:0x57385b365067a33c!8m2!3d1.298614!4d103.849054!16s%2Fg%2F1tgjhtgb" rel="nocaes" class="alphabetical-list__link">The Auld Alliance</a>
</li>
  
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://www.google.com/maps/place/La+Maison+du+Whisky/@1.2914633,103.840847,15z/data=!4m6!3m5!1s0x31da199e5e4d30bf:0xbdb92437e57ced18!8m2!3d1.2914633!4d103.840847!16s%2Fg%2F1thd4673" rel="nocaes" class="alphabetical-list__link">La Maison du Whisky</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://www.google.com/maps/place/Quaich+Bar+South+Beach/@1.2939255,103.8532951,17z/data=!3m1!4b1!4m6!3m5!1s0x31da19a5fc75927f:0x4f8ac9c25f866087!8m2!3d1.2939201!4d103.8558754!16s%2Fg%2F11c2p3rn2m" rel="nocaes" class="alphabetical-list__link">Quaich Bar, South Beach Ave</a>
</li>  
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://www.google.com/maps/place/Samsu+Huay+Kuan/@1.3007113,103.8424055,15z/data=!4m6!3m5!1s0x31da194af58d11dd:0x639d81661a322fd9!8m2!3d1.3007113!4d103.8424055!16s%2Fg%2F11s9j8tq2h" rel="nocaes" class="alphabetical-list__link">Samsu Huay Kuan</a>
</li>
  
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://www.google.com/maps/place/The+Single+Cask/@1.29554,103.8521622,15z/data=!4m6!3m5!1s0x31da19a45d09f149:0xca35ea5505d38caa!8m2!3d1.29554!4d103.8521622!16s%2Fg%2F11b7gt6r_v" rel="nocaes" class="alphabetical-list__link">The Single Cask</a>
</li>
  
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://www.google.com/maps/place/The+Swan+Song/@1.286593,103.84954,15z/data=!4m6!3m5!1s0x31da19bc9634515b:0xebd64fa26716383f!8m2!3d1.286593!4d103.84954!16s%2Fg%2F11g027qj_6" rel="nocaes" class="alphabetical-list__link">The Swan Song</a>
</li>
<!-- insert stuff with <li> tags here-->    
</ul>
<br>
<h2><u>Cocktail Bars</u></h2>
<ul class="alphabetical-list__sublist"  >
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://www.google.com/maps/place/Nutmeg+%26+Clove/@1.2967133,103.8552195,15z/data=!4m6!3m5!1s0x31da190d388c7df7:0x56e940a72c074697!8m2!3d1.2967133!4d103.8552195!16s%2Fg%2F11bbx107d5" rel="nocaes" class="alphabetical-list__link">Nutmeg & Clove</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/WJ3b3Y3nmD3BvFcz8" target="_blank" rel="noopener noreferrer" class="alphabetical-list__link">Analog</a>
<a href="https://88bamboo.co/blogs/escapades/bar-stories-future-nostalgia-at-analogue-initiative"><i>(Read our Review)</i></a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/nyAUJT6T2f6BXr3L6" rel="nocaes" class="alphabetical-list__link">Sugarhall</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://www.google.com/maps/place/Sago+House/@1.2821029,103.8437826,15z/data=!4m6!3m5!1s0x31da19a933bccaa1:0xa18246556acaf7d6!8m2!3d1.2821029!4d103.8437826!16s%2Fg%2F11jt9h5ql9" rel="nocaes" class="alphabetical-list__link">Sago House</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/6n7NWNzDaG6Ug1dy5" rel="nocaes" class="alphabetical-list__link">Underdog Inn</a>
<a href="https://88bamboo.co/blogs/escapades/bar-stories-enter-into-the-underdog-inn"><i>(Read our Review)</i></a>
</li>
<!-- insert stuff with <li> tags here-->    
</ul>
<br>
<h2><u>Craft Beer Bars</u></h2>
<ul class="alphabetical-list__sublist"  >  
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://www.google.com/maps/place/Orh+Gao+Taproom+Craft+beer+bar/@1.3227222,103.8111066,17z/data=!3m2!4b1!5s0x31da1a06854dd98f:0x35680b31e588b108!4m6!3m5!1s0x31da1b2be58f0afb:0xf0aa022253f29df8!8m2!3d1.3227168!4d103.8136869!16s%2Fg%2F11gxmv7_30" rel="nocaes" class="alphabetical-list__link">Orh Gao Taproom</a>
</li> 
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/k1T7NvFDDdWV86rW9" rel="nocaes" class="alphabetical-list__link">Ren Min</a>
<a href="https://88bamboo.co/blogs/whisky-rum-gin-vodka-distillery-spotlight/the-ren-min-s-revolution-how-manbeer-singh-became-the-people-s-beerman"><i>(Read Our Review)</i></a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/kwQmS3CJq4nz7NbT6" rel="nocaes" class="alphabetical-list__link">Pink Blossoms Brewing</a>
</li>
<!-- insert stuff with <li> tags here-->     

</ul>
  <br>
</div>
<br>
<ul class="alphabetical-list__list">
<li class="alphabetical-list__item">
<a id="B" class="alphabetical-list__jump-anchor"></a>
<span class="alphabetical-list__heading">Hong Kong</span>
<div class="indent-bar-list">  
  <h2><u>Specialty Spirits Bars</u></h2>    
<ul class="alphabetical-list__sublist"  >
<!-- insert stuff with <li> tags here-->  
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://www.google.com/maps/place/Tiffany's+New+York+Bar/@22.2990398,114.1765223,17z/data=!3m1!4b1!4m6!3m5!1s0x340400ef7f02b9ad:0x9b2c2d2aa309fa75!8m2!3d22.2990349!4d114.1790972!16s%2Fg%2F1tjyl9yv" rel="nocaes" class="alphabetical-list__link">Tiffany's New York Bar</a>
</li> 
</ul>
<br>
<h2><u>Cocktail Bars</u></h2>
<ul class="alphabetical-list__sublist"  >
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/Ms5niESJCJK3xaKXA" rel="nocaes" class="alphabetical-list__link">Darkside at Rosewood</a>
<a href="https://88bamboo.co/blogs/escapades/darkside-s-mahjong-inspired-cocktail-menu-lets-guest-roll-a-dice-for-their-tipple"><i>(Read our Review)</i></a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/p4fMBFK74bbSSgV78" rel="nocaes" class="alphabetical-list__link">Coa</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/f5WTrYZDrEq32AMf6" rel="nocaes" class="alphabetical-list__link">Quinary</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/CvKW9QeMkKXgMJKL8" rel="nocaes" class="alphabetical-list__link">Tell Camellia</a>
<a href="https://88bamboo.co/blogs/escapades/feeling-thirst-tea-hong-kong-s-tell-camellia-pours-up-tea-based-cocktails"><i>(Read our Review)</i></a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/z1xA6W85q211mNh49" rel="nocaes" class="alphabetical-list__link">The Aubrey</a>
<a href="https://88bamboo.co/blogs/escapades/koji-in-cocktails-the-aubreys-shochu-cocktail-menu-puts-japans-most-consumed-spirit-on-show"><i>(Read our Review)</i></a>
</li>
<!-- insert stuff with <li> tags here-->
</ul>  
<br>
</div>
</li>
</ul>

  <br>
<ul class="alphabetical-list__list">
<li class="alphabetical-list__item">
<a id="C" class="alphabetical-list__jump-anchor"></a>
<span class="alphabetical-list__heading">Japan</span>
<div class="indent-bar-list">  
<h2><u>Specialty Spirits Bars</u></h2>   
<br>  
<h2>Tokyo</h2>
<ul class="alphabetical-list__sublist"  >
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://www.google.com/maps/place/Aloha+Whisky/@35.7314383,139.7042021,17z/data=!3m2!4b1!5s0x60188d5eae805021:0x543ef80bb4ad2b95!4m6!3m5!1s0x60188dbf5aeafaf9:0x18758833f93e45d6!8m2!3d35.731434!4d139.706777!16s%2Fg%2F11h_75xqcv" rel="nocaes" class="alphabetical-list__link">Aloha Whisky</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/sD1gxwrRAyXu9iCA9" rel="nocaes" class="alphabetical-list__link">Campbeltoun Loch</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/aGfFvggSHBfx7u6L6" rel="nocaes" class="alphabetical-list__link">Cask Strength</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/6incVcD26ggB2f9v9" rel="nocaes" class="alphabetical-list__link">Hiro's Bar Roppongi</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/souvCkE6JqzGPWQa7" rel="nocaes" class="alphabetical-list__link">The Mash Tun</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/htSjLrYkRLReuktm8" rel="nocaes" class="alphabetical-list__link">Bar Kage</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/jc1A3X6GNa6bh8mHA" rel="nocaes" class="alphabetical-list__link">Albion's Bar</a>
</li>
</ul>
  <br>
<h2>Kyoto</h2>
<ul class="alphabetical-list__sublist"  >
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/ZG1AvsqFTnCi6gK26" rel="nocaes" class="alphabetical-list__link">Bar Rum and Whisky</a>
</li>
</ul>
  <br>
<h2>Osaka</h2>
<ul class="alphabetical-list__sublist"  >
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/YHzJfYDwkbnEeNyd8" rel="nocaes" class="alphabetical-list__link">Bar Parkmore</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/PwebiBnHfufBQnoP6" rel="nocaes" class="alphabetical-list__link">Bar Rose Bank</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/78kEfLxTv8VCKd397" rel="nocaes" class="alphabetical-list__link">Rogin's Tavern</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/d3bHmkLUWaH4eyJp8" rel="nocaes" class="alphabetical-list__link">Bar Augusta</a>
</li>
</ul>
  <br>
<h2>Sapporo</h2>
<ul class="alphabetical-list__sublist"  >
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/AtoLzzbEcmHvw1id6" rel="nocaes" class="alphabetical-list__link">The Bow Bar</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/bUFpNHhioSMyH6WcA" rel="nocaes" class="alphabetical-list__link">Maltbar Kirkwall</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/aYnQRU7xYMiSmUzq6" rel="nocaes" class="alphabetical-list__link">Bar Brora</a>
</li>
<!-- insert stuff with <li> tags here-->  
</ul>
<br>
<h2><u>Cocktail Bars</u></h2>
<ul class="alphabetical-list__sublist"  >
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://www.google.com/maps/place/High+Five/@35.671641,139.762943,15z/data=!4m6!3m5!1s0x60188beed991b4bd:0x74b1824df56a88e0!8m2!3d35.671641!4d139.762943!16s%2Fg%2F119wjwkcp" rel="nocaes" class="alphabetical-list__link">Bar High Five</a>
</li>  
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/2FirtBEYnnXRsi4T8" rel="nocaes" class="alphabetical-list__link">Lamp Bar</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/bJBF1X4cTAes6cjw6" rel="nocaes" class="alphabetical-list__link">The SG Club</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/kywiDZKpS8wGJY2FA" rel="nocaes" class="alphabetical-list__link">The Bee's Knees</a>
</li>
<!-- insert stuff with <li> tags here-->
</ul>  
  </div>
</li>
</ul>
  <br>

  <br>
<ul class="alphabetical-list__list">
<li class="alphabetical-list__item">
<a id="D" class="alphabetical-list__jump-anchor"></a>
<span class="alphabetical-list__heading">Indonesia</span>
  <div class="indent-bar-list"> 
<h2><u>Specialty Spirits Bars</u></h2>    
<ul class="alphabetical-list__sublist"  >
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://www.google.com/maps/place/Miles+Whisky+Bar/@-6.2297239,106.8017818,17z/data=!3m1!4b1!4m6!3m5!1s0x2e69f15e3be15d0f:0xb94eb272eae6ceb9!8m2!3d-6.2297292!4d106.8043567!16s%2Fg%2F11rj02dmdb" rel="nocaes" class="alphabetical-list__link">Miles Whisky Bar</a>
</li>
<!-- insert stuff with <li> tags here--> 
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/RnYe1BYk9V9HRWGU8" rel="nocaes" class="alphabetical-list__link">Mirai Bar</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/yQwYiRXkxwTCWhvM6" rel="nocaes" class="alphabetical-list__link">Highlander Inn Jakarta</a>
</li>
</ul>
<br>
<h2><u>Cocktail Bars</u></h2>
<ul class="alphabetical-list__sublist"  >
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/Re2HhMMJ66GiJe8B9" rel="nocaes" class="alphabetical-list__link">The Cocktail Club Jakarta</a>
</li>
<!-- insert stuff with <li> tags here-->
</ul>  
<br> 
  </div>    
</li>
</ul>  

  <br>
<ul class="alphabetical-list__list">
<li class="alphabetical-list__item">
<a id="E" class="alphabetical-list__jump-anchor"></a>
<span class="alphabetical-list__heading">Philippines</span>
  <div class="indent-bar-list"> 
<h2><u>Specialty Spirits Bars</u></h2>    
<ul class="alphabetical-list__sublist"  >
<!-- insert stuff with <li> tags here-->
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/14VCM7diYLgfLFF27" rel="nocaes" class="alphabetical-list__link">The Spirits Library</a>
</li>
</ul>
<br>
<h2><u>Cocktail Bars</u></h2>
<ul class="alphabetical-list__sublist"  >
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://www.google.com/maps/place/The+Nautilus+Bar/@14.6422986,121.0361754,17z/data=!3m1!4b1!4m6!3m5!1s0x3397b7aaf4278683:0x3c5ff7b9da22acf4!8m2!3d14.6422986!4d121.0361754!16s%2Fg%2F11gdqw78x2" rel="nocaes" class="alphabetical-list__link">The Nautilus Bar</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/eq6k4pthkuzangZp7" rel="nocaes" class="alphabetical-list__link">OTO</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/PRpw1emNGiLvnwiPA" rel="nocaes" class="alphabetical-list__link">Run Rabbit Run</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/Fa5oro5zpcx2vHhq8" rel="nocaes" class="alphabetical-list__link">The Curator</a>
</li>
<!-- insert stuff with <li> tags here-->
</ul> 

<!--  
<br>
<h2><u>Craft Beer Bars</u></h2>
<ul class="alphabetical-list__sublist"  > 

</ul>
  -->
  </div>
</li>
</ul>

  <br>
<ul class="alphabetical-list__list">
<li class="alphabetical-list__item">
<a id="F" class="alphabetical-list__jump-anchor"></a>
<span class="alphabetical-list__heading">Korea</span>
  <div class="indent-bar-list"> 
<h2><u>Cocktail Bars</u></h2>
<ul class="alphabetical-list__sublist"  >
<!-- insert stuff with <li> tags here-->
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/NTwdKmWmuKY3UpHw5" rel="nocaes" class="alphabetical-list__link">Bar Cham</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/v3n1rHN8fcUb4Asq8" rel="nocaes" class="alphabetical-list__link">Alice Cheongdam</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/TmUUrR1UfLWq4zyx6" rel="nocaes" class="alphabetical-list__link">Charles H Bar</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/qQVELWCrUjYAE9aw8" rel="nocaes" class="alphabetical-list__link">Le Chamber</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/8SCBNmQkixScLDCn7" rel="nocaes" class="alphabetical-list__link">Zest</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/UpnhETo99kJTiKxWA" rel="nocaes" class="alphabetical-list__link">Pussyfoot Saloon</a>
</li>
</ul>  
  </div>
</li>
</ul>

  <br>
<!--<ul class="alphabetical-list__list">
<li class="alphabetical-list__item">
<a id="G" class="alphabetical-list__jump-anchor"></a>
<span class="alphabetical-list__heading">Australia</span>
<h2><u>Specialty Spirits Bars</u></h2>  
<ul class="alphabetical-list__sublist"  >
</ul>
<br>
<h2><u>Cocktail Bars</u></h2>
<ul class="alphabetical-list__sublist"  >
</ul>  
<br>
<h2><u>Craft Beer Bars</u></h2>
<ul class="alphabetical-list__sublist"  > 
</ul>
</li>
</ul>-->

  <br>
<ul class="alphabetical-list__list">
<li class="alphabetical-list__item">
<a id="H" class="alphabetical-list__jump-anchor"></a>
<span class="alphabetical-list__heading">Thailand</span>
  <div class="indent-bar-list"> 
<h2><u>Specialty Spirits Bars</u></h2>  
<ul class="alphabetical-list__sublist"  >
<!-- insert stuff with <li> tags here-->  
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/2jT5jResEj5Qh4sr7" rel="nocaes" class="alphabetical-list__link">Whisgars</a>
</li>
</ul>
<br>
<h2><u>Cocktail Bars</u></h2>
<ul class="alphabetical-list__sublist"  >
<!-- insert stuff with <li> tags here-->
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/FfMxBAhP945tDYaC9" rel="nocaes" class="alphabetical-list__link">BKK Social Club</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/xByw7cpHkaHv5MeC7" rel="nocaes" class="alphabetical-list__link">Vesper Cocktail Bar</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/P94n4aUGcr5cSzTN8" rel="nocaes" class="alphabetical-list__link">Tropic City</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/HTN2SnpA3QpvAk2r6" rel="nocaes" class="alphabetical-list__link">Teens of Thailand</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/vq7QLpeDuURrhqXS7" rel="nocaes" class="alphabetical-list__link">Asia Today</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/gPoWRb6BwR19pqH57" rel="nocaes" class="alphabetical-list__link">Iron Balls Distillery & Bar</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/9HH4VfZWhwacxVGn9" rel="nocaes" class="alphabetical-list__link">Tep Bar</a>
</li>

</ul>  
<h2><u>Craft Beer Bars</u></h2>
<ul class="alphabetical-list__sublist"  > 
<!-- insert stuff with <li> tags here-->
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/YvQCYVgxunDNvLQo7" rel="nocaes" class="alphabetical-list__link">Full Moon Brewworks</a>
</li>
</ul>
  </div>
</li>
</ul>

  <br>
<ul class="alphabetical-list__list">
<li class="alphabetical-list__item">
<a id="I" class="alphabetical-list__jump-anchor"></a>
<span class="alphabetical-list__heading">Malaysia</span>
  <div class="indent-bar-list"> 
<h2><u>Specialty Spirits Bars</u></h2>  
<ul class="alphabetical-list__sublist"  >
<!-- insert stuff with <li> tags here-->  
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/jyqprSi1CqiJSWBY7" rel="nocaes" class="alphabetical-list__link">61Monarchy</a>
</li>
</ul>
<br>
<h2><u>Cocktail Bars</u></h2>
<ul class="alphabetical-list__sublist"  >
<!-- insert stuff with <li> tags here-->
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/uSsTQ27eHonYzKdD7" rel="nocaes" class="alphabetical-list__link">Bar Trigona</a>
<a href="https://88bamboo.co/blogs/escapades/penang-laksa-cocktail-bar-trigona-launches-new-menu-foraged-malaysia"><i>(Read our Review)</i></a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/Zis1YBxnMQ7hF5MP7" rel="nocaes" class="alphabetical-list__link">Junglebird</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/rdvd8VvEkoxH4vyT8" rel="nocaes" class="alphabetical-list__link">Pahit</a>
<a href="https://88bamboo.co/blogs/escapades/bar-stories-juniper-and-joy-at-pahit"><i>(Read our Review)</i></a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/WJdm99UnbeWCwCud9" rel="nocaes" class="alphabetical-list__link">Reka:Bar</a>
</li
  </ul>
<br>

</ul>
</li>
  
  <br>
<ul class="alphabetical-list__list">
<li class="alphabetical-list__item">
<a id="J" class="alphabetical-list__jump-anchor"></a>
<span class="alphabetical-list__heading">Vietnam</span>
  <div class="indent-bar-list"> 
<h2><u>Specialty Spirits Bars</u></h2>  
<ul class="alphabetical-list__sublist"  >
<!-- insert stuff with <li> tags here-->  
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/XqzAFNaoywrZK1tD8" rel="nocaes" class="alphabetical-list__link">PK maltroom</a>
</li>
</ul>
<br>
<h2><u>Cocktail Bars</u></h2>
<ul class="alphabetical-list__sublist"  >
<!-- insert stuff with <li> tags here-->
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/H4djZvokRf4JHFN28" rel="nocaes" class="alphabetical-list__link">Stir Saigon</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/ffwUqtWvAV1DL5zp7" rel="nocaes" class="alphabetical-list__link">NHAU NHAU</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/gJ4vY39us9MF7Vcr7" rel="nocaes" class="alphabetical-list__link">Yugen Bar</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/Ukgk3w3EdxvKVRSC8" rel="nocaes" class="alphabetical-list__link">The Iron Bank Cocktail Vault</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/npDSZF69BT4aXv2e9" rel="nocaes" class="alphabetical-list__link">Polite & Co</a>
</li>
<li class="alphabetical-list__sublist-item"  style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/FUYgh1SrWL6DybzT8" rel="nocaes" class="alphabetical-list__link">Nê Cocktail bar</a>
</li>
</ul>  
<br>
<h2><u>Craft Beer Bars</u></h2>
<ul class="alphabetical-list__sublist"  > 
<!-- insert stuff with <li> tags here-->

<li class="alphabetical-list__sublist-item" style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/jzZxMmJvsJanYhCZ6" rel="nocaes" class="alphabetical-list__link">Heart of Darkness Craft Brewery</a>
</li>
<li class="alphabetical-list__sublist-item" style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/h3YuK2rBF15Zdcf16" rel="nocaes" class="alphabetical-list__link">Winking Seal Beer Co.</a>
<a href="https://88bamboo.co/blogs/escapades/we-go-in-search-for-vietnams-winking-seal"><i>(Read our Review)</i></a>
</li>
<li class="alphabetical-list__sublist-item" style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/r1bTNLURa3Lp4RZm6" rel="nocaes" class="alphabetical-list__link">Pasteur Street Brewing Co.</a>
</li>
</ul>
  </div>
</li>
</ul>


  
  <br>
<ul class="alphabetical-list__list">
<li class="alphabetical-list__item">
<a id="K" class="alphabetical-list__jump-anchor"></a>
<span class="alphabetical-list__heading">Taiwan</span>
  <div class="indent-bar-list"> 
<h2><u>Specialty Spirits Bars</u></h2>  
<ul class="alphabetical-list__sublist"  >
<!-- insert stuff with <li> tags here-->  
<li class="alphabetical-list__sublist-item" style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/kifft5WwUdyoj9TQ9" rel="nocaes" class="alphabetical-list__link">Larriere-cour</a>
</li>
<li class="alphabetical-list__sublist-item" style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/L3vu4s52K57kL8YS8" rel="nocaes" class="alphabetical-list__link">Kavalan Whisky Bar</a>
</li>
</ul>
<br>
<h2><u>Cocktail Bars</u></h2>
<ul class="alphabetical-list__sublist"  >
<!-- insert stuff with <li> tags here-->
<li class="alphabetical-list__sublist-item" style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/hZxLuZpUzh8bLESK7" rel="nocaes" class="alphabetical-list__link">AHA Saloon</a>
</li>
<li class="alphabetical-list__sublist-item" style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/tXLTTDMgnw8E987c7" rel="nocaes" class="alphabetical-list__link">Bar Mood</a>
</li>
<li class="alphabetical-list__sublist-item" style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="hhttps://goo.gl/maps/otTsbPb5XgmWdU35A" rel="nocaes" class="alphabetical-list__link">Hanko 60</a>
</li>
<li class="alphabetical-list__sublist-item" style=" break-inside: avoid !important; -webkit-column-break-inside: avoid !important;">
<a href="https://goo.gl/maps/dKLBt5tXhZLQEyun8" rel="nocaes" class="alphabetical-list__link">Indulge Experimental Bistro</a>
</li>
<br>
</ul>
  </div>    
</li>
</ul>
  
</div>
  </div>
