
{% section 'hero41-Sake101' %}
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div> 

<div class="page-width">
  
    <div class="section-header text-center">
      <h1 style="font-size:25px" >Japanese Sake 101</h1>  <!-- ZHE HAN added font size - now removed style="font-size:25px" -->
    </div>
</div>
<div style="margin-top: -55px !important;"><!--zhe han removed shrinkage class class="shrinkage-to-make-way-for-side-bars" and added margin-top adjustment-->
{% section 'hero42-Sake101' %}
</div>
<div style="margin-top: -55px !important;"><!--zhe han removed shrinkage class class="shrinkage-to-make-way-for-side-bars" and added margin-top adjustment-->
{% section 'hero43-Sake101' %}
</div>
<div style="margin-top: -55px !important;"><!--zhe han removed shrinkage class class="shrinkage-to-make-way-for-side-bars" and added margin-top adjustment-->
{% section 'hero44-Sake101' %}
</div>
<div style="margin-top: -55px !important;"><!--zhe han removed shrinkage class class="shrinkage-to-make-way-for-side-bars" and added margin-top adjustment-->
{% section 'hero45-Sake101' %}
</div>
<div style="margin-top: -55px !important;"><!--zhe han removed shrinkage class class="shrinkage-to-make-way-for-side-bars" and added margin-top adjustment-->
{% section 'hero46-Sake101' %}
</div>
<div style="margin-top: -55px !important;"><!--zhe han removed shrinkage class class="shrinkage-to-make-way-for-side-bars" and added margin-top adjustment-->
{% section 'hero47-Sake101' %}
</div>
<div style="margin-top: -55px !important;"><!--zhe han removed shrinkage class class="shrinkage-to-make-way-for-side-bars" and added margin-top adjustment-->
{% section 'hero48-Sake101' %}
</div>
