
{% section 'hero17-Whisky-101' %}
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div> 

<div class="page-width">
  
    <div class="section-header text-center">
      <h1 style="font-size:25px" >Whiskies 101</h1>  <!-- ZHE HAN added font size - now removed style="font-size:25px" -->
    </div>
</div>
<div style="margin-top: -55px !important;"><!--zhe han removed shrinkage class class="shrinkage-to-make-way-for-side-bars" and added margin-top adjustment-->
{% section 'hero20-Whisky-101' %}
</div>
<div style="margin-top: -55px !important;"><!--zhe han removed shrinkage class class="shrinkage-to-make-way-for-side-bars" and added margin-top adjustment-->
{% section 'hero19-Whisky-101' %}
</div>
<div style="margin-top: -55px !important;"><!--zhe han removed shrinkage class class="shrinkage-to-make-way-for-side-bars" and added margin-top adjustment-->
{% section 'hero21-Whisky-101' %}
</div>
<div style="margin-top: -55px !important;"><!--zhe han removed shrinkage class class="shrinkage-to-make-way-for-side-bars" and added margin-top adjustment-->
{% section 'hero18-Whisky-101' %}
</div>
<div style="margin-top: -55px !important;"><!--zhe han removed shrinkage class class="shrinkage-to-make-way-for-side-bars" and added margin-top adjustment-->
{% section 'hero22-Whisky-101' %}
</div>
<div style="margin-top: -55px !important;"><!--zhe han removed shrinkage class class="shrinkage-to-make-way-for-side-bars" and added margin-top adjustment-->
{% section 'hero25-Whisky-101' %}
</div>
<div style="margin-top: -55px !important;"><!--zhe han removed shrinkage class class="shrinkage-to-make-way-for-side-bars" and added margin-top adjustment-->
{% section 'hero24-Whisky-101' %}
</div>
<div style="margin-top: -55px !important;"><!--zhe han removed shrinkage class class="shrinkage-to-make-way-for-side-bars" and added margin-top adjustment-->
{% section 'hero23-Whisky-101' %}
</div>
<div style="margin-top: -55px !important;"><!--zhe han removed shrinkage class class="shrinkage-to-make-way-for-side-bars" and added margin-top adjustment-->
{% section 'hero26-Whisky-101' %}
</div>
<div style="margin-top: -55px !important;"><!--zhe han removed shrinkage class class="shrinkage-to-make-way-for-side-bars" and added margin-top adjustment-->
{% section 'hero27-Whisky-101' %}
</div>
<div style="margin-top: -55px !important;"><!--zhe han removed shrinkage class class="shrinkage-to-make-way-for-side-bars" and added margin-top adjustment-->
{% section 'hero28-Whisky-101' %}
</div>