
{% section 'hero30-CraftBeer101' %}
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div> 

<div class="page-width">
  
    <div class="section-header text-center">
      <h1 style="font-size:25px" >Craft Beer 101</h1>  <!-- ZHE HAN added font size - now removed style="font-size:25px" -->
    </div>
</div> 
<div style="margin-top: -55px !important;"><!--zhe han removed shrinkage class class="shrinkage-to-make-way-for-side-bars" and added margin-top adjustment-->
{% section 'hero31-CraftBeer101' %}
</div>
<div style="margin-top: -55px !important;"><!--zhe han removed shrinkage class class="shrinkage-to-make-way-for-side-bars" and added margin-top adjustment-->
{% section 'hero32-CraftBeer101' %}
</div>
<div style="margin-top: -55px !important;"><!--zhe han removed shrinkage class class="shrinkage-to-make-way-for-side-bars" and added margin-top adjustment-->
{% section 'hero33-CraftBeer101' %}
</div>
<div style="margin-top: -55px !important;"><!--zhe han removed shrinkage class class="shrinkage-to-make-way-for-side-bars" and added margin-top adjustment-->
{% section 'hero34-CraftBeer101' %}
</div>
<div style="margin-top: -55px !important;"><!--zhe han removed shrinkage class class="shrinkage-to-make-way-for-side-bars" and added margin-top adjustment-->
{% section 'hero35-CraftBeer101' %}
</div>
<div style="margin-top: -55px !important;"><!--zhe han removed shrinkage class class="shrinkage-to-make-way-for-side-bars" and added margin-top adjustment-->
{% section 'hero36-CraftBeer101' %}
</div>
<div style="margin-top: -55px !important;"><!--zhe han removed shrinkage class class="shrinkage-to-make-way-for-side-bars" and added margin-top adjustment-->
{% section 'hero37-CraftBeer101' %}
</div>
<div style="margin-top: -55px !important;"><!--zhe han removed shrinkage class class="shrinkage-to-make-way-for-side-bars" and added margin-top adjustment-->
{% section 'hero38-CraftBeer101' %}
</div>
<div style="margin-top: -55px !important;"><!--zhe han removed shrinkage class class="shrinkage-to-make-way-for-side-bars" and added margin-top adjustment-->
{% section 'hero39-CraftBeer101' %}
</div>
