{% section 'hero16' %}
 <div class="page-width">
<!-- ZHE HAN removed  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        
      </div> -->

      <div class="rte">
        {{ page.content }}
      </div>
<!-- Zhe Han removed    </div>
  </div> -->
</div> 
<div class="shrinkage-to-make-way-for-side-bars"><!--zhe han added shrinkage class-->{% section 'feature-columns10' %}</div>

<br><br>
<div class="shrinkage-to-make-way-for-side-bars"><!--zhe han added shrinkage class-->
<!-- copied from home page-->
<!-- entire section below supports tabbing. has been commented out-->  
<!--
<div class="page-width">
  

  <div class="custom-content hh">
      


      <div class="custom__item custom__item--html custom__item--3136cf3f-fa0b-4088-bc8a-50dc52ffb432  one-whole">
        <div class="custom__item-inner custom__item-inner--html">
          
              
                <div class="section-header text-center">
      <h1>Have a Peek</h1>
    </div>


-below added by Zhe Han to insert secondary tabs - JS in index.liquid 
<ul class="nav nav-tabs h5">
  <li class="active"><a data-toggle="tab" href="#tabmenu2">Whisky</a></li>
  <li><a data-toggle="tab" href="#tabmenu5">Rum</a></li>
  <li><a data-toggle="tab" href="#tabmenu9">Sake</a></li>
  <li><a data-toggle="tab" href="#tabmenu10">Craft Beer</a></li>
  <li><a data-toggle="tab" href="#tabmenu18">Gin</a></li>
  <li><a data-toggle="tab" href="#tabmenu11">&amp; Everything Else</a></li>

</ul>

<div class="tab-content">

  <div id="tabmenu2" class="tab-pane fade in active"><div id="shopify-section-featured-blog3" class="shopify-section index-section"><div class="page-width">
    <header class="section-header text-center">
       
    </header>
    <ul class="grid grid--uniform grid--blog">
      
        <li class="grid__item medium-up--one-third">
          <a href="/blogs/whisky-reviews/anatomy-of-a-legend-samaroli-glen-grant-1959-40-years" class="article__link">
            
              
              
<style>#ArticleImage-102417694859 {
    max-width: 258.8511137162954px;
    max-height: 345px;
  }

  #ArticleImageWrapper-102417694859 {
    max-width: 258.8511137162954px;
  }
</style>

              <div id="ArticleImageWrapper-102417694859" class="article__grid-image-wrapper js">
                <div class="article__grid-image-container" style="padding-top:133.28125%;">
                  <img id="ArticleImage-102417694859" class="article__grid-image lazyautosizes ls-is-cached lazyloaded" src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/q4e85dxoy8c51_300x300.jpg?v=1650819034" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="0.7502930832356389" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/q4e85dxoy8c51_180x.jpg?v=1650819034 180w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/q4e85dxoy8c51_360x.jpg?v=1650819034 360w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/q4e85dxoy8c51_540x.jpg?v=1650819034 540w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/q4e85dxoy8c51_720x.jpg?v=1650819034 720w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/q4e85dxoy8c51_900x.jpg?v=1650819034 900w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/q4e85dxoy8c51_1080x.jpg?v=1650819034 1080w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/q4e85dxoy8c51_1296x.jpg?v=1650819034 1296w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/q4e85dxoy8c51_1512x.jpg?v=1650819034 1512w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/q4e85dxoy8c51_1728x.jpg?v=1650819034 1728w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/q4e85dxoy8c51_2048x.jpg?v=1650819034 2048w" sizes="259px" srcset="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/q4e85dxoy8c51_180x.jpg?v=1650819034 180w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/q4e85dxoy8c51_360x.jpg?v=1650819034 360w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/q4e85dxoy8c51_540x.jpg?v=1650819034 540w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/q4e85dxoy8c51_720x.jpg?v=1650819034 720w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/q4e85dxoy8c51_900x.jpg?v=1650819034 900w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/q4e85dxoy8c51_1080x.jpg?v=1650819034 1080w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/q4e85dxoy8c51_1296x.jpg?v=1650819034 1296w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/q4e85dxoy8c51_1512x.jpg?v=1650819034 1512w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/q4e85dxoy8c51_1728x.jpg?v=1650819034 1728w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/q4e85dxoy8c51_2048x.jpg?v=1650819034 2048w">
                </div>
              </div>
              <noscript>
                &lt;div class="article__grid-image-wrapper"&gt;
                  &lt;img src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/q4e85dxoy8c51_345x345@2x.jpg?v=1650819034" alt="Anatomy of a Legend: Samaroli Glen Grant 1959 (40 years)" class="article__grid-image" /&gt;
                &lt;/div&gt;
              </noscript>
            

         
          </a>

          <div class="article__grid-meta">
            
            <h3 class="article__title">
             <a href="/blogs/whisky-reviews/anatomy-of-a-legend-samaroli-glen-grant-1959-40-years">
              Anatomy of a Legend: Samaroli Glen Grant 1959 (40 years)
            </a>
          </h3>
            
            

            

            <div class="rte article__grid-excerpt">
              
                
&nbsp;
&nbsp;

I got into scotch whisky a few years ago. Got out some time last year, when I realised I had a problem finding interesting bottlings at reaso... Zhe han added "replace" functions
              
            </div>

           



            <ul class="list--inline article__meta-buttons">
              <li>
                <a href="/blogs/whisky-reviews/anatomy-of-a-legend-samaroli-glen-grant-1959-40-years" class="btn btn--tertiary btn--small" aria-label="Read more: Anatomy of a Legend: Samaroli Glen Grant 1959 (40 years)">
                  Read more
                </a>
              </li>

              
            </ul>
          </div>
        </li>
      
        <li class="grid__item medium-up--one-third">
          <a href="/blogs/whisky-reviews/cadenhead-heaven-hill-20-wlw-2016" class="article__link">
            
              
              
<style>#ArticleImage-102390366347 {
    max-width: 258.75px;
    max-height: 345px;
  }

  #ArticleImageWrapper-102390366347 {
    max-width: 258.75px;
  }
</style>

              <div id="ArticleImageWrapper-102390366347" class="article__grid-image-wrapper js">
                <div class="article__grid-image-container" style="padding-top:133.33333333333334%;">
                  <img id="ArticleImage-102390366347" class="article__grid-image lazyautosizes ls-is-cached lazyloaded" src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/AXYp0Rz_300x300.jpg?v=1650388488" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="0.75" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/AXYp0Rz_180x.jpg?v=1650388488 180w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/AXYp0Rz_360x.jpg?v=1650388488 360w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/AXYp0Rz_540x.jpg?v=1650388488 540w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/AXYp0Rz_720x.jpg?v=1650388488 720w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/AXYp0Rz_900x.jpg?v=1650388488 900w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/AXYp0Rz_1080x.jpg?v=1650388488 1080w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/AXYp0Rz_1296x.jpg?v=1650388488 1296w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/AXYp0Rz_1512x.jpg?v=1650388488 1512w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/AXYp0Rz_1728x.jpg?v=1650388488 1728w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/AXYp0Rz_2048x.jpg?v=1650388488 2048w" sizes="259px" srcset="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/AXYp0Rz_180x.jpg?v=1650388488 180w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/AXYp0Rz_360x.jpg?v=1650388488 360w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/AXYp0Rz_540x.jpg?v=1650388488 540w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/AXYp0Rz_720x.jpg?v=1650388488 720w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/AXYp0Rz_900x.jpg?v=1650388488 900w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/AXYp0Rz_1080x.jpg?v=1650388488 1080w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/AXYp0Rz_1296x.jpg?v=1650388488 1296w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/AXYp0Rz_1512x.jpg?v=1650388488 1512w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/AXYp0Rz_1728x.jpg?v=1650388488 1728w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/AXYp0Rz_2048x.jpg?v=1650388488 2048w">
                </div>
              </div>
              <noscript>
                &lt;div class="article__grid-image-wrapper"&gt;
                  &lt;img src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/AXYp0Rz_345x345@2x.jpg?v=1650388488" alt="Cadenhead Heaven Hill 20, WLW 2016" class="article__grid-image" /&gt;
                &lt;/div&gt;
              </noscript>
            

         
          </a>

          <div class="article__grid-meta">
            
            <h3 class="article__title">
             <a href="/blogs/whisky-reviews/cadenhead-heaven-hill-20-wlw-2016">
              Cadenhead Heaven Hill 20, WLW 2016
            </a>
          </h3>
            
            

            

            <div class="rte article__grid-excerpt">
              
                

&nbsp;&nbsp;
Review #4:&nbsp;Cadenhead's 175th Anniversary Heaven Hill 20 years old&nbsp;(15 September)
Nose: morning dew on grass, polished wood, melange of savoury... <!--Zhe han added "replace" functions
              
            </div>

           



            <ul class="list--inline article__meta-buttons">
              <li>
                <a href="/blogs/whisky-reviews/cadenhead-heaven-hill-20-wlw-2016" class="btn btn--tertiary btn--small" aria-label="Read more: Cadenhead Heaven Hill 20, WLW 2016">
                  Read more
                </a>
              </li>

              
            </ul>
          </div>
        </li>
      
        <li class="grid__item medium-up--one-third">
          <a href="/blogs/whisky-reviews/willett-c45a-old-heaven-hill-15-rittenhouse-25" class="article__link">
            
              
              
<style>#ArticleImage-102390333579 {
    max-width: 258.75px;
    max-height: 345px;
  }

  #ArticleImageWrapper-102390333579 {
    max-width: 258.75px;
  }
</style>

              <div id="ArticleImageWrapper-102390333579" class="article__grid-image-wrapper js">
                <div class="article__grid-image-container" style="padding-top:133.33333333333334%;">
                  <img id="ArticleImage-102390333579" class="article__grid-image lazyautosizes ls-is-cached lazyloaded" src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/uNS6qJ9_300x300.jpg?v=1650386945" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="0.75" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/uNS6qJ9_180x.jpg?v=1650386945 180w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/uNS6qJ9_360x.jpg?v=1650386945 360w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/uNS6qJ9_540x.jpg?v=1650386945 540w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/uNS6qJ9_720x.jpg?v=1650386945 720w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/uNS6qJ9_900x.jpg?v=1650386945 900w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/uNS6qJ9_1080x.jpg?v=1650386945 1080w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/uNS6qJ9_1296x.jpg?v=1650386945 1296w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/uNS6qJ9_1512x.jpg?v=1650386945 1512w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/uNS6qJ9_1728x.jpg?v=1650386945 1728w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/uNS6qJ9_2048x.jpg?v=1650386945 2048w" sizes="259px" srcset="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/uNS6qJ9_180x.jpg?v=1650386945 180w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/uNS6qJ9_360x.jpg?v=1650386945 360w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/uNS6qJ9_540x.jpg?v=1650386945 540w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/uNS6qJ9_720x.jpg?v=1650386945 720w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/uNS6qJ9_900x.jpg?v=1650386945 900w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/uNS6qJ9_1080x.jpg?v=1650386945 1080w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/uNS6qJ9_1296x.jpg?v=1650386945 1296w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/uNS6qJ9_1512x.jpg?v=1650386945 1512w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/uNS6qJ9_1728x.jpg?v=1650386945 1728w, //cdn.shopify.com/s/files/1/0353/9510/9003/articles/uNS6qJ9_2048x.jpg?v=1650386945 2048w">
                </div>
              </div>
              <noscript>
                &lt;div class="article__grid-image-wrapper"&gt;
                  &lt;img src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/uNS6qJ9_345x345@2x.jpg?v=1650386945" alt="Willett C45A, Old Heaven Hill 15, Rittenhouse 25" class="article__grid-image" /&gt;
                &lt;/div&gt;
              </noscript>
            

         
          </a>

          <div class="article__grid-meta">
            
            <h3 class="article__title">
             <a href="/blogs/whisky-reviews/willett-c45a-old-heaven-hill-15-rittenhouse-25">
              Willett C45A, Old Heaven Hill 15, Rittenhouse 25
            </a>
          </h3>
            
            

            

            <div class="rte article__grid-excerpt">
              
                Hi guys. I have been lurking here for some time, and I learned a lot from this community. For that I need to thank all of you for keeping this redd... Zhe han added "replace" functions
              
            </div>

           



            <ul class="list--inline article__meta-buttons">
              <li>
                <a href="/blogs/whisky-reviews/willett-c45a-old-heaven-hill-15-rittenhouse-25" class="btn btn--tertiary btn--small" aria-label="Read more: Willett C45A, Old Heaven Hill 15, Rittenhouse 25">
                  Read more
                </a>
              </li>

              
            </ul>
          </div>
        </li>
      
    </ul>
  

  
    <hr class="hr--invisible" aria-hidden="true">
    <div class="text-center">
      <a href="/blogs/whisky-reviews" class="btn" aria-label="View all blogs">
        View all
      </a>
    </div>
  
</div>



</div></div>

  <div id="tabmenu5" class="tab-pane fade"><div id="shopify-section-featured-blog7" class="shopify-section index-section"><div class="page-width">
    <header class="section-header text-center">
       
    </header>
    <ul class="grid grid--uniform grid--blog">
      
        <li class="grid__item medium-up--one-third">
          <a href="/blogs/rum-reviews/velier-blairmont-1991-15-years" class="article__link">
            
              
              
<style>#ArticleImage-102511640715 {
    max-width: 201.1862527716186px;
    max-height: 345px;
  }

  #ArticleImageWrapper-102511640715 {
    max-width: 201.1862527716186px;
  }
</style>

              <div id="ArticleImageWrapper-102511640715" class="article__grid-image-wrapper js">
                <div class="article__grid-image-container" style="padding-top:171.48288973384032%;">
                  <img id="ArticleImage-102511640715" class="article__grid-image lazyload" src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/xghq5b0fiiu81_300x300.jpg?v=1651601144" data-src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/xghq5b0fiiu81_{width}x.jpg?v=1651601144" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="0.5831485587583148" data-sizes="auto" alt="">
                </div>
              </div>
              <noscript>
                &lt;div class="article__grid-image-wrapper"&gt;
                  &lt;img src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/xghq5b0fiiu81_345x345@2x.jpg?v=1651601144" alt="Velier Blairmont 1991 (15 years)" class="article__grid-image" /&gt;
                &lt;/div&gt;
              </noscript>
            

          
          </a>

          <div class="article__grid-meta">
            
            
            <h3 class="article__title">
             <a href="/blogs/rum-reviews/velier-blairmont-1991-15-years">
              Velier Blairmont 1991 (15 years)
            </a>
          </h3>
            
            

            

            <div class="rte article__grid-excerpt">
              
                
&nbsp;

Background: this is my first review of a Velier demerara rum. There is little to say of this Velier demeraras that has not already been said by... Zhe han added "replace" functions
              
            </div>

           



            <ul class="list--inline article__meta-buttons">
              <li>
                <a href="/blogs/rum-reviews/velier-blairmont-1991-15-years" class="btn btn--tertiary btn--small" aria-label="Read more: Velier Blairmont 1991 (15 years)">
                  Read more
                </a>
              </li>

              
            </ul>
          </div>
        </li>
      
        <li class="grid__item medium-up--one-third">
          <a href="/blogs/rum-reviews/rum-artesanal-hampden-1990-31-years" class="article__link">
            
              
              
<style>#ArticleImage-102511542411 {
    max-width: 345.0px;
    max-height: 345px;
  }

  #ArticleImageWrapper-102511542411 {
    max-width: 345.0px;
  }
</style>

              <div id="ArticleImageWrapper-102511542411" class="article__grid-image-wrapper js">
                <div class="article__grid-image-container" style="padding-top:100.0%;">
                  <img id="ArticleImage-102511542411" class="article__grid-image lazyload" src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/fofb2sajtoq81_300x300.jpg?v=1651600722" data-src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/fofb2sajtoq81_{width}x.jpg?v=1651600722" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" alt="">
                </div>
              </div>
              <noscript>
                &lt;div class="article__grid-image-wrapper"&gt;
                  &lt;img src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/fofb2sajtoq81_345x345@2x.jpg?v=1651600722" alt="Rum Artesanal Hampden 1990 (31 years)" class="article__grid-image" /&gt;
                &lt;/div&gt;
              </noscript>
            

          
          </a>

          <div class="article__grid-meta">
            
            
            <h3 class="article__title">
             <a href="/blogs/rum-reviews/rum-artesanal-hampden-1990-31-years">
              Rum Artesanal Hampden 1990 (31 years)
            </a>
          </h3>
            
            

            

            <div class="rte article__grid-excerpt">
              
                
&nbsp;

Background: a cask from one of the best Hampden vintages, bottled by one of the best rum IBs. What could go wrong?
Nose: very expressive, yet i... Zhe han added "replace" functions
              
            </div>

           



            <ul class="list--inline article__meta-buttons">
              <li>
                <a href="/blogs/rum-reviews/rum-artesanal-hampden-1990-31-years" class="btn btn--tertiary btn--small" aria-label="Read more: Rum Artesanal Hampden 1990 (31 years)">
                  Read more
                </a>
              </li>

              
            </ul>
          </div>
        </li>
      
        <li class="grid__item medium-up--one-third">
          <a href="/blogs/rum-reviews/hampdens-pushing-1000-old-brothers-h-jamaican-rum-2001-19-years-rum-sponge-edition-no-6-jmh-jamaican-rum-29-years" class="article__link">
            
              
              
<style>#ArticleImage-102511509643 {
    max-width: 240.73333333333335px;
    max-height: 345px;
  }

  #ArticleImageWrapper-102511509643 {
    max-width: 240.73333333333335px;
  }
</style>

              <div id="ArticleImageWrapper-102511509643" class="article__grid-image-wrapper js">
                <div class="article__grid-image-container" style="padding-top:143.31210191082803%;">
                  <img id="ArticleImage-102511509643" class="article__grid-image lazyload" src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/ry5ttfk143881_300x300.png?v=1651600521" data-src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/ry5ttfk143881_{width}x.png?v=1651600521" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="0.6977777777777778" data-sizes="auto" alt="">
                </div>
              </div>
              <noscript>
                &lt;div class="article__grid-image-wrapper"&gt;
                  &lt;img src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/ry5ttfk143881_345x345@2x.png?v=1651600521" alt="Hampdens, pushing 1000: Old Brothers &amp;lt;H&amp;gt; Jamaican Rum 2001 (19 years) &amp;amp; Rum Sponge Edition No. 6, JMH Jamaican Rum (29 years)" class="article__grid-image" /&gt;
                &lt;/div&gt;
              </noscript>
            

          
          </a>

          <div class="article__grid-meta">
            
            
            <h3 class="article__title">
             <a href="/blogs/rum-reviews/hampdens-pushing-1000-old-brothers-h-jamaican-rum-2001-19-years-rum-sponge-edition-no-6-jmh-jamaican-rum-29-years">
              Hampdens, pushing 1000: Old Brothers <h> Jamaican Rum 2001 (19 years) &amp; Rum Sponge Edition No. 6, JMH Jamaican Rum (29 years)
            </h></a>
          </h3>
            
            

            

            <div class="rte article__grid-excerpt">
              
                
&nbsp;

Background: two rums with ester concentrations not far from 1000g/hlpa. One is a tropically aged cask of mark &lt;&gt;H. The other is a blend o... Zhe han added "replace" functions
              
            </div>

           



            <ul class="list--inline article__meta-buttons">
              <li>
                <a href="/blogs/rum-reviews/hampdens-pushing-1000-old-brothers-h-jamaican-rum-2001-19-years-rum-sponge-edition-no-6-jmh-jamaican-rum-29-years" class="btn btn--tertiary btn--small" aria-label="Read more: Hampdens, pushing 1000: Old Brothers <H> Jamaican Rum 2001 (19 years) &amp; Rum Sponge Edition No. 6, JMH Jamaican Rum (29 years)">
                  Read more
                </a>
              </li>

              
            </ul>
          </div>
        </li>
      
    </ul>
  

  
    <hr class="hr--invisible" aria-hidden="true">
    <div class="text-center">
      <a href="/blogs/rum-reviews" class="btn" aria-label="View all blogs">
        View all
      </a>
    </div>
  
</div>



</div></div>

  <div id="tabmenu9" class="tab-pane fade"><div id="shopify-section-featured-blog11" class="shopify-section index-section"><div class="page-width">
    <header class="section-header text-center">
       
    </header>
    <ul class="grid grid--uniform grid--blog">
      
        <li class="grid__item medium-up--one-third">
          <a href="/blogs/sake/yamamoto-royal-straight-flush-junmai-daiginjo" class="article__link">
            
              
              
<style>#ArticleImage-102566822027 {
    max-width: 276.0px;
    max-height: 345px;
  }

  #ArticleImageWrapper-102566822027 {
    max-width: 276.0px;
  }
</style>

              <div id="ArticleImageWrapper-102566822027" class="article__grid-image-wrapper js">
                <div class="article__grid-image-container" style="padding-top:125.0%;">
                  <img id="ArticleImage-102566822027" class="article__grid-image lazyload" src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/241281318_908151196464547_7070602248875843230_n_300x300.jpg?v=1652993066" data-src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/241281318_908151196464547_7070602248875843230_n_{width}x.jpg?v=1652993066" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="0.8" data-sizes="auto" alt="">
                </div>
              </div>
              <noscript>
                &lt;div class="article__grid-image-wrapper"&gt;
                  &lt;img src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/241281318_908151196464547_7070602248875843230_n_345x345@2x.jpg?v=1652993066" alt="Yamamoto Royal Straight Flush Junmai Daiginjo" class="article__grid-image" /&gt;
                &lt;/div&gt;
              </noscript>
            

           
          </a>

          <div class="article__grid-meta">
            
            
            <h3 class="article__title">
             <a href="/blogs/sake/yamamoto-royal-straight-flush-junmai-daiginjo">
              Yamamoto Royal Straight Flush Junmai Daiginjo
            </a>
          </h3>
            
            

            

            <div class="rte article__grid-excerpt">
              
                
&nbsp;
An experimental series by Yamamoto san, using 5 Akita rice varieties and 5 Akita yeasts. This was a crisp, clean, nuanced sake but at the same t... Zhe han added "replace" functions
              
            </div>

           



            <ul class="list--inline article__meta-buttons">
              <li>
                <a href="/blogs/sake/yamamoto-royal-straight-flush-junmai-daiginjo" class="btn btn--tertiary btn--small" aria-label="Read more: Yamamoto Royal Straight Flush Junmai Daiginjo">
                  Read more
                </a>
              </li>

              
            </ul>
          </div>
        </li>
      
        <li class="grid__item medium-up--one-third">
          <a href="/blogs/sake/aged-sake-%E5%8F%A4%E9%85%92" class="article__link">
            
              
              
<style>#ArticleImage-102566789259 {
    max-width: 277.0775237032906px;
    max-height: 345px;
  }

  #ArticleImageWrapper-102566789259 {
    max-width: 277.0775237032906px;
  }
</style>

              <div id="ArticleImageWrapper-102566789259" class="article__grid-image-wrapper js">
                <div class="article__grid-image-container" style="padding-top:124.51388888888889%;">
                  <img id="ArticleImage-102566789259" class="article__grid-image lazyload" src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/241082864_361504278900269_8874029524848732953_n_300x300.jpg?v=1652992910" data-src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/241082864_361504278900269_8874029524848732953_n_{width}x.jpg?v=1652992910" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="0.8031232571109872" data-sizes="auto" alt="">
                </div>
              </div>
              <noscript>
                &lt;div class="article__grid-image-wrapper"&gt;
                  &lt;img src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/241082864_361504278900269_8874029524848732953_n_345x345@2x.jpg?v=1652992910" alt="Aged Sake | 古酒" class="article__grid-image" /&gt;
                &lt;/div&gt;
              </noscript>
            

           
          </a>

          <div class="article__grid-meta">
            
            
            <h3 class="article__title">
             <a href="/blogs/sake/aged-sake-%E5%8F%A4%E9%85%92">
              Aged Sake | 古酒
            </a>
          </h3>
            
            

            

            <div class="rte article__grid-excerpt">
              
                
&nbsp;
These are 2 specialty aged sakes. Miyanoi 28BY (left) from Hyogo and Asahi Kiku 24BY (right) from Fukuoka.
BY stands for Brewery Year. The numbe... Zhe han added "replace" functions
              
            </div>

           



            <ul class="list--inline article__meta-buttons">
              <li>
                <a href="/blogs/sake/aged-sake-%E5%8F%A4%E9%85%92" class="btn btn--tertiary btn--small" aria-label="Read more: Aged Sake | 古酒">
                  Read more
                </a>
              </li>

              
            </ul>
          </div>
        </li>
      
        <li class="grid__item medium-up--one-third">
          <a href="/blogs/sake/homare-kokko-tokubetsu-junmai" class="article__link">
            
              
              
<style>#ArticleImage-102566756491 {
    max-width: 276.0px;
    max-height: 345px;
  }

  #ArticleImageWrapper-102566756491 {
    max-width: 276.0px;
  }
</style>

              <div id="ArticleImageWrapper-102566756491" class="article__grid-image-wrapper js">
                <div class="article__grid-image-container" style="padding-top:125.0%;">
                  <img id="ArticleImage-102566756491" class="article__grid-image lazyload" src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/240876546_1532589263764000_3733479135866237043_n_300x300.jpg?v=1652992822" data-src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/240876546_1532589263764000_3733479135866237043_n_{width}x.jpg?v=1652992822" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="0.8" data-sizes="auto" alt="">
                </div>
              </div>
              <noscript>
                &lt;div class="article__grid-image-wrapper"&gt;
                  &lt;img src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/240876546_1532589263764000_3733479135866237043_n_345x345@2x.jpg?v=1652992822" alt="Homare Kokko Tokubetsu Junmai" class="article__grid-image" /&gt;
                &lt;/div&gt;
              </noscript>
            

           
          </a>

          <div class="article__grid-meta">
            
            
            <h3 class="article__title">
             <a href="/blogs/sake/homare-kokko-tokubetsu-junmai">
              Homare Kokko Tokubetsu Junmai
            </a>
          </h3>
            
            

            

            <div class="rte article__grid-excerpt">
              
                
&nbsp;
A Gunma prefecture sake! Made by Tsuchida Sake Brewery. The name Homare Kokko is named after the founder's passion for "making&nbsp;the country honor... Zhe han added "replace" functions
              
            </div>

           



            <ul class="list--inline article__meta-buttons">
              <li>
                <a href="/blogs/sake/homare-kokko-tokubetsu-junmai" class="btn btn--tertiary btn--small" aria-label="Read more: Homare Kokko Tokubetsu Junmai">
                  Read more
                </a>
              </li>

              
            </ul>
          </div>
        </li>
      
    </ul>
  

  
    <hr class="hr--invisible" aria-hidden="true">
    <div class="text-center">
      <a href="/blogs/sake" class="btn" aria-label="View all blogs">
        View all
      </a>
    </div>
  
</div>



</div></div>
  
  <div id="tabmenu10" class="tab-pane fade"><div id="shopify-section-featured-blog12" class="shopify-section index-section"><div class="page-width">
    <header class="section-header text-center">
       
    </header>
    <ul class="grid grid--uniform grid--blog">
      
        <li class="grid__item medium-up--one-third">
          <a href="/blogs/craft-beer/fury-and-son-pilsner-x-stevie-nicks-bella-donna" class="article__link">
            
              
              
<style>#ArticleImage-102550765707 {
    max-width: 345.0px;
    max-height: 345px;
  }

  #ArticleImageWrapper-102550765707 {
    max-width: 345.0px;
  }
</style>

              <div id="ArticleImageWrapper-102550765707" class="article__grid-image-wrapper js">
                <div class="article__grid-image-container" style="padding-top:100.0%;">
                  <img id="ArticleImage-102550765707" class="article__grid-image lazyload" src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/218173294_498263754790702_5731135236651906355_n_300x300.jpg?v=1652547203" data-src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/218173294_498263754790702_5731135236651906355_n_{width}x.jpg?v=1652547203" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" alt="">
                </div>
              </div>
              <noscript>
                &lt;div class="article__grid-image-wrapper"&gt;
                  &lt;img src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/218173294_498263754790702_5731135236651906355_n_345x345@2x.jpg?v=1652547203" alt="Fury and Son Pilsner x Stevie Nicks – Bella Donna" class="article__grid-image" /&gt;
                &lt;/div&gt;
              </noscript>
            

           
          </a>

          <div class="article__grid-meta">
            
            
            <h3 class="article__title">
             <a href="/blogs/craft-beer/fury-and-son-pilsner-x-stevie-nicks-bella-donna">
              Fury and Son Pilsner x Stevie Nicks – Bella Donna
            </a>
          </h3>
            
            

            

            <div class="rte article__grid-excerpt">
              
                
&nbsp;






The next pick is an album from an iconic voice in the music world, the incredibly talented Stevie Nicks.&nbsp;“Bella Donna” is Nick’s debut alb... Zhe han added "replace" functions
              
            </div>

           



            <ul class="list--inline article__meta-buttons">
              <li>
                <a href="/blogs/craft-beer/fury-and-son-pilsner-x-stevie-nicks-bella-donna" class="btn btn--tertiary btn--small" aria-label="Read more: Fury and Son Pilsner x Stevie Nicks – Bella Donna">
                  Read more
                </a>
              </li>

              
            </ul>
          </div>
        </li>
      
        <li class="grid__item medium-up--one-third">
          <a href="/blogs/craft-beer/blackmans-brewery-the-imperial-milk-stout-x-korn-and-the-dust-brothers-kick-the-p-a" class="article__link">
            
              
              
<style>#ArticleImage-102550732939 {
    max-width: 345.0px;
    max-height: 345px;
  }

  #ArticleImageWrapper-102550732939 {
    max-width: 345.0px;
  }
</style>

              <div id="ArticleImageWrapper-102550732939" class="article__grid-image-wrapper js">
                <div class="article__grid-image-container" style="padding-top:100.0%;">
                  <img id="ArticleImage-102550732939" class="article__grid-image lazyload" src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/217363435_3349059165371305_7028225361514146082_n_300x300.jpg?v=1652546983" data-src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/217363435_3349059165371305_7028225361514146082_n_{width}x.jpg?v=1652546983" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" alt="">
                </div>
              </div>
              <noscript>
                &lt;div class="article__grid-image-wrapper"&gt;
                  &lt;img src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/217363435_3349059165371305_7028225361514146082_n_345x345@2x.jpg?v=1652546983" alt="Blackman&amp;#39;s Brewery The Imperial Milk Stout x Korn and the Dust Brothers - Kick the P.A" class="article__grid-image" /&gt;
                &lt;/div&gt;
              </noscript>
            

           
          </a>

          <div class="article__grid-meta">
            
            
            <h3 class="article__title">
             <a href="/blogs/craft-beer/blackmans-brewery-the-imperial-milk-stout-x-korn-and-the-dust-brothers-kick-the-p-a">
              Blackman's Brewery The Imperial Milk Stout x Korn and the Dust Brothers - Kick the P.A
            </a>
          </h3>
            
            

            

            <div class="rte article__grid-excerpt">
              
                
&nbsp;

The next pick is a genre (if you can call it that) that is absolutely amazing and not done enough in our opinion. The “genre” is the crossover ... Zhe han added "replace" functions
              
            </div>

           



            <ul class="list--inline article__meta-buttons">
              <li>
                <a href="/blogs/craft-beer/blackmans-brewery-the-imperial-milk-stout-x-korn-and-the-dust-brothers-kick-the-p-a" class="btn btn--tertiary btn--small" aria-label="Read more: Blackman's Brewery The Imperial Milk Stout x Korn and the Dust Brothers - Kick the P.A">
                  Read more
                </a>
              </li>

              
            </ul>
          </div>
        </li>
      
        <li class="grid__item medium-up--one-third">
          <a href="/blogs/craft-beer/range-brewery-bridge-road-brewers-sailors-grave-brewery-x-linkin-park-reanimation" class="article__link">
            
              
              
<style>#ArticleImage-102550700171 {
    max-width: 345.0px;
    max-height: 345px;
  }

  #ArticleImageWrapper-102550700171 {
    max-width: 345.0px;
  }
</style>

              <div id="ArticleImageWrapper-102550700171" class="article__grid-image-wrapper js">
                <div class="article__grid-image-container" style="padding-top:100.0%;">
                  <img id="ArticleImage-102550700171" class="article__grid-image lazyload" src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/213212355_346759076862097_3669723079859300937_n_300x300.jpg?v=1652546608" data-src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/213212355_346759076862097_3669723079859300937_n_{width}x.jpg?v=1652546608" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" alt="">
                </div>
              </div>
              <noscript>
                &lt;div class="article__grid-image-wrapper"&gt;
                  &lt;img src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/213212355_346759076862097_3669723079859300937_n_345x345@2x.jpg?v=1652546608" alt="Range Brewery &amp;amp; Bridge Road Brewers &amp;amp; Sailors Grave Brewery x Linkin Park - Reanimation" class="article__grid-image" /&gt;
                &lt;/div&gt;
              </noscript>
            

           
          </a>

          <div class="article__grid-meta">
            
            
            <h3 class="article__title">
             <a href="/blogs/craft-beer/range-brewery-bridge-road-brewers-sailors-grave-brewery-x-linkin-park-reanimation">
              Range Brewery &amp; Bridge Road Brewers &amp; Sailors Grave Brewery x Linkin Park - Reanimation
            </a>
          </h3>
            
            

            

            <div class="rte article__grid-excerpt">
              
                
&nbsp;

REAИIMATIOИ The one with the transformer on the front.To be honest, I played this out when it first was released and never went back until the ... Zhe han added "replace" functions
              
            </div>

           



            <ul class="list--inline article__meta-buttons">
              <li>
                <a href="/blogs/craft-beer/range-brewery-bridge-road-brewers-sailors-grave-brewery-x-linkin-park-reanimation" class="btn btn--tertiary btn--small" aria-label="Read more: Range Brewery &amp; Bridge Road Brewers &amp; Sailors Grave Brewery x Linkin Park - Reanimation">
                  Read more
                </a>
              </li>

              
            </ul>
          </div>
        </li>
      
    </ul>
  

  
    <hr class="hr--invisible" aria-hidden="true">
    <div class="text-center">
      <a href="/blogs/craft-beer" class="btn" aria-label="View all blogs">
        View all
      </a>
    </div>
  
</div>



</div></div> 

  <div id="tabmenu18" class="tab-pane fade">  </div>    
  
  <div id="tabmenu11" class="tab-pane fade"><div id="shopify-section-featured-blog13" class="shopify-section index-section"><div class="page-width">
    <header class="section-header text-center">
       
    </header>
    <ul class="grid grid--uniform grid--blog">
      
        <li class="grid__item medium-up--one-third">
          <a href="/blogs/everything-nice/yatagarasu-yoshino-monogatari-shiso" class="article__link">
            
              
              
<style>#ArticleImage-102555844747 {
    max-width: 258.75px;
    max-height: 345px;
  }

  #ArticleImageWrapper-102555844747 {
    max-width: 258.75px;
  }
</style>

              <div id="ArticleImageWrapper-102555844747" class="article__grid-image-wrapper js">
                <div class="article__grid-image-container" style="padding-top:133.33333333333334%;">
                  <img id="ArticleImage-102555844747" class="article__grid-image lazyload" src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/IMG_7683_300x300.jpg?v=1652780757" data-src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/IMG_7683_{width}x.jpg?v=1652780757" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="0.75" data-sizes="auto" alt="">
                </div>
              </div>
              <noscript>
                &lt;div class="article__grid-image-wrapper"&gt;
                  &lt;img src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/IMG_7683_345x345@2x.jpg?v=1652780757" alt="Yatagarasu Yoshino Monogatari Shiso" class="article__grid-image" /&gt;
                &lt;/div&gt;
              </noscript>
            

           
          </a>

          <div class="article__grid-meta">
            
            
            <h3 class="article__title">
             <a href="/blogs/everything-nice/yatagarasu-yoshino-monogatari-shiso">
              Yatagarasu Yoshino Monogatari Shiso
            </a>
          </h3>
            
            

            

            <div class="rte article__grid-excerpt">
              
                

Yatagarasu Yoshino Monogatari Shiso is the bottle that first got me hooked on umeshu. It's&nbsp;made&nbsp;from a combination of red perilla leaves (known a... Zhe han added "replace" functions
              
            </div>

           



            <ul class="list--inline article__meta-buttons">
              <li>
                <a href="/blogs/everything-nice/yatagarasu-yoshino-monogatari-shiso" class="btn btn--tertiary btn--small" aria-label="Read more: Yatagarasu Yoshino Monogatari Shiso">
                  Read more
                </a>
              </li>

              
            </ul>
          </div>
        </li>
      
        <li class="grid__item medium-up--one-third">
          <a href="/blogs/everything-nice/zind-humbrecht-marc-de-gewurztraminer-1976" class="article__link">
            
              
              
<style>#ArticleImage-102511411339 {
    max-width: 258.8511137162954px;
    max-height: 345px;
  }

  #ArticleImageWrapper-102511411339 {
    max-width: 258.8511137162954px;
  }
</style>

              <div id="ArticleImageWrapper-102511411339" class="article__grid-image-wrapper js">
                <div class="article__grid-image-container" style="padding-top:133.28125%;">
                  <img id="ArticleImage-102511411339" class="article__grid-image lazyload" src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/i8j9t3p1yt871_300x300.jpg?v=1651600187" data-src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/i8j9t3p1yt871_{width}x.jpg?v=1651600187" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="0.7502930832356389" data-sizes="auto" alt="">
                </div>
              </div>
              <noscript>
                &lt;div class="article__grid-image-wrapper"&gt;
                  &lt;img src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/i8j9t3p1yt871_345x345@2x.jpg?v=1651600187" alt="Zind-Humbrecht Marc de Gewurztraminer 1976" class="article__grid-image" /&gt;
                &lt;/div&gt;
              </noscript>
            

           
          </a>

          <div class="article__grid-meta">
            
            
            <h3 class="article__title">
             <a href="/blogs/everything-nice/zind-humbrecht-marc-de-gewurztraminer-1976">
              Zind-Humbrecht Marc de Gewurztraminer 1976
            </a>
          </h3>
            
            

            

            <div class="rte article__grid-excerpt">
              
                
&nbsp;

Background: a marc made in Alsace from the gewurztraminer grape. Unaged, a marc de gewurztraminer is among the most powerful and expressive of ... Zhe han added "replace" functions
              
            </div>

           



            <ul class="list--inline article__meta-buttons">
              <li>
                <a href="/blogs/everything-nice/zind-humbrecht-marc-de-gewurztraminer-1976" class="btn btn--tertiary btn--small" aria-label="Read more: Zind-Humbrecht Marc de Gewurztraminer 1976">
                  Read more
                </a>
              </li>

              
            </ul>
          </div>
        </li>
      
        <li class="grid__item medium-up--one-third">
          <a href="/blogs/everything-nice/capovilla-distillato-di-vino-1998-for-lmdw-60th-anniversary-18-years" class="article__link">
            
              
              
<style>#ArticleImage-102511313035 {
    max-width: 258.8511137162954px;
    max-height: 345px;
  }

  #ArticleImageWrapper-102511313035 {
    max-width: 258.8511137162954px;
  }
</style>

              <div id="ArticleImageWrapper-102511313035" class="article__grid-image-wrapper js">
                <div class="article__grid-image-container" style="padding-top:133.28125%;">
                  <img id="ArticleImage-102511313035" class="article__grid-image lazyload" src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/o7ny2fi2nc481_300x300.jpg?v=1651600010" data-src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/o7ny2fi2nc481_{width}x.jpg?v=1651600010" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="0.7502930832356389" data-sizes="auto" alt="">
                </div>
              </div>
              <noscript>
                &lt;div class="article__grid-image-wrapper"&gt;
                  &lt;img src="//cdn.shopify.com/s/files/1/0353/9510/9003/articles/o7ny2fi2nc481_345x345@2x.jpg?v=1651600010" alt="Capovilla Distillato di Vino 1998 for LMDW 60th Anniversary (~18 years)" class="article__grid-image" /&gt;
                &lt;/div&gt;
              </noscript>
            

           
          </a>

          <div class="article__grid-meta">
            
            
            <h3 class="article__title">
             <a href="/blogs/everything-nice/capovilla-distillato-di-vino-1998-for-lmdw-60th-anniversary-18-years">
              Capovilla Distillato di Vino 1998 for LMDW 60th Anniversary (~18 years)
            </a>
          </h3>
            
            

            

            <div class="rte article__grid-excerpt">
              
                
&nbsp;

Background: Capovilla is known for his grappas and eau-de-vies, distilled in a bain-marie still. On rare occasions, he distils grape wine. Even... Zhe han added "replace" functions
              
            </div>

           



            <ul class="list--inline article__meta-buttons">
              <li>
                <a href="/blogs/everything-nice/capovilla-distillato-di-vino-1998-for-lmdw-60th-anniversary-18-years" class="btn btn--tertiary btn--small" aria-label="Read more: Capovilla Distillato di Vino 1998 for LMDW 60th Anniversary (~18 years)">
                  Read more
                </a>
              </li>

              
            </ul>
          </div>
        </li>
      
    </ul>
  

  
    <hr class="hr--invisible" aria-hidden="true">
    <div class="text-center">
      <a href="/blogs/everything-nice" class="btn" aria-label="View all blogs">
        View all
      </a>
    </div>
  
</div>



</div></div>
  
</div> 

above added by Zhe Han to insert tabs 
              

        </div>
      </div>

    
  </div>

  
</div>

-->
  
</div>

<!--
	<script>       
      $(document).ready(function(){

        	$("#tabmenu2").load("https://88bamboo.co/pages/alternate-home-page #shopify-section-featured-blog3");
            $("#tabmenu5").load("https://88bamboo.co/pages/alternate-home-page #shopify-section-featured-blog7");        	        	
        	$("#tabmenu9").load("https://88bamboo.co/pages/alternate-home-page #shopify-section-featured-blog11");	
        	$("#tabmenu10").load("https://88bamboo.co/pages/alternate-home-page #shopify-section-featured-blog12");
        	$("#tabmenu11").load("https://88bamboo.co/pages/alternate-home-page #shopify-section-featured-blog13");
        	$("#tabmenu18").load("https://88bamboo.co/pages/alternate-home-page #shopify-section-featured-blog19");
        });              
    </script>

-->